$ff: 'Nunito', sans-serif;

$primaryDef: #4E60FF;
$primaryHov: #697BFF;
$white: #FFFFFF;
$black: #2B2B43;
$text: #83859C;
$icons: #545563;
$accent: #FD6D22;
$fill: #EDEEF2;
$fillBlue: #F3F4FF;
$fillOrange: #FFF3ED;
$bg: #E5E5E5;
// $header: #323232;
// $line: #696969;
// $bgBtn: #9D9D9D;
// $footerText: #ECECEC;
// $bgPic: #494949;
// $lineS: #A5A5A5;
// $lineLast: #C4C4C4;


$radiusSmall: 8rem;
$radius: 12rem;
$radiusRound: 16rem;
$radiusImage: 50%;

$transition: .2s all ease-in-out;

$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;