@import 'styles/utils/vars';
@import 'styles/utils/mixins.scss';
@import 'styles/utils/grid.scss';
@import 'styles/home.scss';

.container {
    max-width: 1150rem;
    padding: 0 20rem;
    margin-inline: auto;
    width: 100%;
}